<!--
  Generated template for the GpsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Gps1</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button (click)="goGps()"> Go To GPS </button>
</ion-content>